# terraform state files
.terraform/
*.tfst*

# terraform env vars
stacks/*
!stacks/staging.*
!stacks/production.*

# local env vars
environment.sh

# editor config stuff
.idea
.idea/*/**
.vscode
.*.swp

# os files 
.DS_Store

*.plan
*/.kitchen/**
*.lock
