# terraform state files
.terraform/
*.tfst*

# terraform env vars
stacks/*
!stacks/staging.*
!stacks/production.*

# editor config stuff
.idea
.idea/*/**
.vscode
.*.swp

# os files 
.DS_Store

*.plan
**/.kitchen/**
__pycache__

/tools/prometheus-configs/**/data
/tools/prometheus-configs/log-cache-adapter/token
