# terraform state files
.terraform/
*.tfst*

# editor config stuff
.idea
.idea/*/**
.vscode
.*.swp

# os files 
.DS_Store

# nix
local.nix

*.plan

/tools/prometheus-configs/**/data
/tools/prometheus-configs/log-cache-adapter/token
